* {
    box-sizing: border-box;
}

:root {
    --purple: rgb(115, 26, 148);
    --blue: rgb(123, 192, 232);
    --white: rgb(226, 229, 215);
}

html {
    background-color: var(--blue);
    font-family: 'Lobster', sans-serif;
}

body {
    max-width: 50rem;
    margin: 0 auto;
    height: 100vh;
}

header {
    text-align: center;
    margin-top: 5rem;
    color: var(--purple); 
}

.title {
    font-size: 5rem;
    margin: 0 auto;
}

.displayController {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
}
#restart {
    font-size: 2rem;
    font-family: 'Lobster', sans-serif;
    color: var(--purple);
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
}

.moves span {
    font-weight: bolder;
    font-size: 2rem;
}

/* Inspired by and huge thanks to https: //github.com/lauriecai/tic-tac-toe/tree/main */
.gameBoard-container {
    position: relative;
    width: 100%;
    /* To create the white background for game board */
    padding-top: 100%;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}

.gameBoard {
    position: absolute;
    /* Spread the cells over the white game board */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0.5rem;

    display: grid;
    grid-template-rows: repeat(3, minmax(10px,1fr));
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-gap: 0.5rem;
    border-radius: 6px;
}

.cell {
    position: relative;
    border-radius: 4px;
    background-color: rgb(162, 206, 221);
}

.cell:hover {
    cursor: url(./icons/pistol.cur), auto;
    caret-color: var(--blue);
    background-color: rgba(123, 192, 232, 0.3);;
}

.cell > img {
    display: none;
}

.warning {
    margin-top: 2rem;
    text-align: center;
    color: var(--purple);
    font-size: 2rem;
}

.player2:hover {
    cursor: url(./icons/sword.cur), auto;
    caret-color: var(--blue);
}

.rules {
    text-align: center;
    color: var(--purple);
}

/* The Modal (background) source: https: //www.w3schools.com/howto/howto_css_modals.asp*/
.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
#popupForm {
    background-color: var(--blue);
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: solid 1px var(--purple);
    border-radius: 8px;
    width: 18em;
    font-size: 1.5rem;
    color: var(--purple);
}

#congrats {
    text-align: center;
}

/* The Close Button */
.close {
    color: var(--purple);
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* End of popup */